# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Git
# =========================
.git
.gitignore
.github/

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python cache / testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# Development files
# =========================
.http
.pylintrc
build.sh

# =========================
# Misc
# =========================
*.md