# URL del backend
API_URL_BACKEND=http://192.168.0.11:8000

# Google OAuth
GOOGLE_CLIENT_ID_WEB=tu_google_client_id
GOOGLE_CLIENT_ID_ANDROID=tu_google_client_android_id

#comando para obtener el SHA1 para Debug (requisito para obtener el google cliend id android)
#keytool -list -v -keystore "$env:USERPROFILE\.android\debug.keystore" -alias androiddebugkey -storepass android -keypass android